*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: #1F1721;
    color: white;
    z-index: 0;
    grid-template-areas:
    "header header"
    "main sidebar"
    "footer sidebar";
}
header{
    grid-area: header;
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 34px;
    cursor: pointer;

}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 16px;
    list-style-type: none;
}
.nav-item a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.nav-item a:hover{
    color: #f8e940;
}
.search-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.search-wrapper {
    position: relative;
    width:114px;
}

.search-wrapper::before {
    content: url('assets/header/search.svg');
    position: absolute;
    left: 17px;
    top: 52%;
    transform: translateY(-50%);
    pointer-events: none;
}

#search-button {
    width: 100%;
    height: 42px;
    background-color: #1F1721;
    border: 1px solid white;
    color: white;
    border-radius: 12px;
    padding-left: 40px;
    text-align: left;
}

#explore-button{
    width: 114px;
    height: 42px;
    background-color: #901FA3;
    border: none;
    color: white;
    border-radius: 12px;
}
#explore-button:hover{
    width: 114px;
    height: 42px;
    background-color: #1F1721;
    border: 1px solid #901FA3;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
#toggle-button{
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: none
}
#toggle-sidebar{
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: none
}
main{
    grid-area: main;
}
.start-container{
    background-color: #1F1721;
}
.start-container .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 3em 5em 10em;
}
.discover-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
    gap: 2em;
}
.discover-container h1{
    font-size: 80px;
    width: 80%;
}
.discover-container p{
    font-size: 27px;
    color: rgba(255, 255, 255, 0.5);
}
.explore-buttons{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: auto;
}
.purple-button{
    padding: 1em 2em;
    background-color: #901FA3;
    border: none;
    color: white;
    border-radius: 12px;
    font-size: 1rem;
}
.white-button{
    padding: 1em 2em;
    background-color: #1F1721;
    border: 1px solid white;
    color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 1rem;
}
.current-bid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.current-bid-image-container {
    position: relative;
    width: 100%; /* Если нужно, чтобы изображение занимало весь контейнер */
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-bid-image-container img {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 5%);
    z-index: 1;
    height: 687px;
}

.current-bid-content-container{
    width: 100%;
}
.grey-container-bid{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3B3943;
    border-radius: 15px;
    padding: 1em 3em;
    margin: 1em 0;
    height: 100%;
    z-index: 2;
}
.bid-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#price{
    color: #CB66DB;
    font-size: 3rem;
}
.auction-ends-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.auction-ends-container p{
    font-size: 2rem;
}
.time-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.time-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
}
.time-item span{
    font-size: 3rem;
    color:  #CB66DB;
}
.time-item{
    font-size: 1rem;
}
.bid-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}
#bid-button{
    background-color: #3B3943;
    border: 3px solid #901FA3;
}
#see-button{
    background-color: #3B3943;
}
#current-bid-text{
    font-size: 1.5rem;
}
.statistics-user-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.statistics-user-item{
    gap: 0.5em;
    list-style-type: none;
    display: flex;
}
.statistics-user-item::before{
    content:url("assets/start-container/list-marker.svg");
    margin-right: 0.5em;
}
.statistics-user-container span{
    font-size: 2rem;
}
.top-seller-container{
    background-color: linen;
    color: black;
}
.top-seller-container .container{
    display: flex;
    flex-direction: column;
    padding: 3em 3em 5em 10em;
    gap: 70px
}
.head-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.day-select-container{
    margin-right: 116px;
}
.live-auction-container{
    background-color: aqua;
    color: black;
}
.live-auction-container .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 3em 5em 10em;
    gap: 70px
}
.hot-collection-container{
    background-color: grey;
    color: white;
}
.hot-collection-container .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em 3em 5em 10em;
    gap: 70px
}
.expire-artworks-container{
    background-color: brown;
    color: white;
}
.expire-artworks-container .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 3em 5em 10em;
    gap: 70px
}
.hot-workss-container{
    background-color: cadetblue;
    color: black;
}
.hot-workss-container .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3em 3em 5em 10em;
}
.wallet-grid-container{
    margin-right: 116px;
}
.digital-creator-container{
    background-color: chartreuse;
    color: white;
    margin: 3em 10em 5em 10em;
}
.digital-creator-container .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em 7em 1em 3em;
}
aside{
    height: 88%;
    top: 0;
    right: 0;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: #171C20;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: none;
    padding: 3em;
    font-size: 16px;
}
.sidebar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
}
#toggle-sidebar-aside{
    background-color: rgba(255, 255, 255, 0);
    border: none
}
.nav-list-aside{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-end;
}
.nav-item-aside{
    list-style-type: none;
}

.nav-item-aside a{
    text-decoration: none;
    color: white;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 2em;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 8em 5em 8em;
}
.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    gap: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}
.logo-container .logo{
    cursor: pointer;
}
.soc-net-container{
    width: 50%;
}
.soc-net-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.soc-net-item{
    list-style-type: none;
    cursor: pointer;
}
.explore-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-container h2{
    color: #A658B3;
}
.explore-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
    color: white;
}
.explore-item a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.explore-item a:hover{
    color: #f8e940;
}
@media(max-width: 1080px){
    .explore-container{
        display: none;
    }
    .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);
    }
    .discover-container h1{
        font-size: 40px;
    }
    .discover-container p{
        font-size: 17px;
    }
    .purple-button{
        font-size: 0.6rem;
    }
    .white-button{
        font-size: 0.6rem;
    }

    .statistics-user-container span{
        font-size: 1rem;
    }
    .statistics-user-container p{
        font-size: 0.8rem;
    }
    .current-bid-image-container img {
        height: 487px;
    }
    #current-bid-text{
        font-size: 1rem;
    }
    #price{
        font-size: 1.9rem;
    }
    .auction-ends-container p{
        font-size: 1rem;
    }
    .time-item span{
        font-size: 1.9rem;
    }
    .time-item{
        font-size: 0.7rem;
    }
    .bid-container{
        font-size: 0.7rem;
    }

}
@media(max-width: 960px){
    .nav-list{
        gap: 1em;
    }
}
@media(max-width: 800px){
    .nav-container{
        display: none;
    }
    .search-container{
        display: none;
    }
    #toggle-sidebar{
        display: block;
    }
    aside{
        position: fixed;
        width: 300px;
    }
    .show{
        display: block;
    }
    #toggle-button{
        display: block;
    }
    .start-container .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:3em;
        align-items: center;
    }
    .discover-container{
        width:100%;
    }
    .discover-container h1{
        font-size: 30px;
    }
    .discover-container p{
        font-size: 14px;
    }
    .purple-button{
        font-size: 0.5rem;
    }
    .white-button{
        font-size: 0.5rem;
    }


    .current-bid-image-container img {
        height: 487px;
    }
    #current-bid-text{
        font-size: 0.75rem;
    }
    #price{
        font-size: 1.3rem;
    }
    .auction-ends-container p{
        font-size: 0.75rem;
    }
    .bid-container{
        font-size: 0.55rem;
    }
    .time-item span{
        font-size: 1.3rem;
    }
    .time-item{
        font-size: 0.7rem;
    }

    .current-bid-image-container  {
        display: none;
    }
    .top-seller-container .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:3em;
        gap: 70px
    }
    .head-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .day-select-container{
        margin-right: 0;
    }
    .live-auction-container .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:3em;
        gap: 70px
    }
    .hot-collection-container .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:3em;
        gap: 70px
    }
    .expire-artworks-container .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em ;
        gap: 70px
    }
    .hot-workss-container .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3em ;
        gap: 70px;
    }
    .wallet-grid-container{
        margin-right: 0;
    }
    .compass-container{
        display: none;
    }
    .digital-creator-container{
        background-color: chartreuse;
        margin: 3em;
        color: white;
    }
    .digital-creator-container .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
    }
    .soc-net-item a img{
        height: 10px;
    }
    footer{
        padding: 3em;
    }
    footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
}