body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
aside{
    grid-area: sidebar;
}
footer{
    grid-area: footer;
}